* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

div {
    display:flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float:inline-start;
  }

img {
    width: 200px;
}

.drop-zone {
    width: 650px;
    height: 350px;
    overflow: hidden;
    background: #bc8864;
}

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
