* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

nav{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

li a{
  text-decoration: none;
  padding: 50px;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1;
  color:black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

div {
    display:flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float:inline-start;
  }

img {
    width: 200px;
}

.drop-zone {
    width: 650px;
    height: 350px;
    overflow: hidden;
    background: #bc8864;
}

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
