section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

div {
    display:flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float:inline-start;
  }

img {
    width: 200px;
}

.drop-zone {
    width: 600px;
    height: 300px;
    overflow: hidden;
    background: #bc8761;
}

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
  }



/*ul {
    list-style-type: none;
}
  
  img {
    /*cursor: pointer;*/
    /*width: 200px;
  }
  
  .drop-zone {
    width: 600px;
    height: 300px;
    overflow: hidden;
    background: #bc8761;
    color: white;
  }
  
  .drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }*/